extends layout

block header
  header
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container-fluid
        a.navbar-brand(href="#") Navbar
        button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
          span.navbar-toggler-icon
        div#navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.me-auto.mb-2.mb-lg-0
            li.nav-item
              a.nav-link.active(aria-current="page" href="#") Home
            li.nav-item
              a.nav-link(href="#") Link
            li.nav-item.dropdown
              a.nav-link.dropdown-toggle(href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false") Dropdown
              ul.dropdown-menu(aria-labelledby="navbarDropdown")
                li
                  a.dropdown-item(href="#") Action
                li
                  a.dropdown-item(href="#") Another action
                li
                  hr.dropdown-divider
                li
                  a.dropdown-item(href="#") Something else here
            li.nav-item
              a.nav-link.disabled(href="#" tabindex="-1" aria-disabled="true") Disabled
          form.d-flex
            input.form-control.me-2(type="search" placeholder="Search" aria-label="Search")
            button.btn.btn-outline-success(type="submit") Search

block mainRow
  main.container-fluid(role='main')
    .row
      include menu
      include content

block footer
  footer.footer
    .container
      span.text-muted
        p © #{new Date().getFullYear()} Andreas Noteng